<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EasyToGoCompany.Properties.Settings.easy_to_goConnectionString"
            connectionString="server=localhost;user id=ardin;database=easy_to_go"
            providerName="MySql.Data.MySqlClient" />
        <add name="EasyToGoCompany.Properties.Settings.easy_to_goConnectionString1"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=easy_to_go"
            providerName="MySql.Data.MySqlClient" />
        <add name="EasyToGoCompany.Properties.Settings.easy_to_goJulio"
            connectionString="server=192.168.43.246;user id=Julio;password=myserver;persistsecurityinfo=True;database=easy_to_go"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>